<div class="h-screen bg-cover bg-center" style="background-image: url('/assets/home3.jpg');">
  <!-- Header con logo y botones -->
  <div class="flex justify-between items-center p-6">
    <div class="flex items-center space-x-4">
      <img src="/assets/logoMF.jpg" alt="Logo" class="w-20 rounded-full"> <!-- Asegúrate de que el logo está en la carpeta assets -->
      <span class="text-white font-bold text-6xl pl-6">MacroFusion</span>
    </div>
    <div>
      <button routerLink="/login" class="bg-lime-300 hover:bg-green-700 font-bold py-2 px-9 rounded mx-2 text-2xl">Log in</button>
      <button routerLink="/register" class="bg-green-700 hover:bg-green-700 text-white font-bold py-2 px-9 rounded mx-2 text-2xl">Registro</button>
    </div>
  </div>

  <!-- Texto Motivacional en la esquina inferior izquierda -->
  <div class="absolute bottom-0 right-80 p-6">
    <p class="text-lime-500 text-6xl">
      <!-- <strong> -->
        "CADA DÍA ES UNA NUEVA OPORTUNIDAD PARA MEJORAR, PARA CUIDAR TU SALUD, Y PARA CONVERTIRTE EN LA MEJOR VERSIÓN DE TI MISMO"
      <!-- </strong> -->
    </p>
  </div>
</div>
