<div class="min-h-screen bg-cover bg-center" style="background-image: url('/assets/loginBack.jpg');">
  <div class="p-6 bg-white shadow-md flex justify-between items-center">
    <div class="flex items-center space-x-4">
      <img routerLink="" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
      <span class="font-bold text-6xl pl-6">MacroFusion</span>
    </div>
    <img routerLink="" src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer">
  </div>

  <div class="flex flex-col items-center justify-center h-full pt-24 pb-24">
    <div class="bg-white p-6 rounded-lg shadow-lg w-5/12">
      <form (ngSubmit)="login()" class="space-y-9">
        <div>
          <label for="email" class="block text-3xl pb-3 font-semibold text-gray-700">Correo electrónico:</label>
          <input [(ngModel)]="credentials.email" type="email" id="email" class="w-full h-14 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500 text-2xl" placeholder="tu@correo.com" name="email">
        </div>
        <div>
          <label for="password" class="block text-3xl pb-3 font-semibold text-gray-700">Contraseña:</label>
          <input [(ngModel)]="credentials.password" type="password" id="password" class="w-full h-14 px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500 text-2xl" placeholder="Contraseña" name="password">
        </div>
        <button type="submit" class="w-full bg-green-700 hover:bg-green-600 text-white font-bold py-3 px-4 rounded text-2xl">Iniciar sesión</button>
      </form>
      <p class="mt-4 text-center">¿AÚN NO TIENES UNA CUENTA? <a routerLink="/register" class="text-blue-500">REGÍSTRATE</a></p>
    </div>
  </div>
</div>
