<div class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-lg w-3/4 p-6">
    <h2 class="text-2xl font-bold mb-4">Seleccionar Alimento</h2>
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="py-3 px-6">Alimento</th>
          <th class="py-3 px-6">Calorías</th>
          <th class="py-3 px-6">Porción</th>
          <th class="py-3 px-6">Tipo de Medida</th>
          <th class="py-3 px-6">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods" class="bg-white border-b">
          <td class="py-4 px-6">{{ food.nombre }}</td>
          <td class="py-4 px-6">{{ food.calorias }} Kcal</td>
          <td class="py-4 px-6">{{ food.porcion }}</td>
          <td class="py-4 px-6">{{ food.tipomedida }}</td>
          <td class="py-4 px-6">
            <button (click)="selectFood(food)" class="bg-green-500 text-white px-4 py-2 rounded">Agregar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end mt-4">
      <button (click)="closeModal()" class="bg-red-500 text-white px-4 py-2 rounded">Cerrar</button>
    </div>
  </div>
</div>
