<div class="modal-backdrop">
    <div class="modal-content p-6">
      <h2 class="text-2xl font-bold mb-4">Editar Alimento</h2>
      <form>
        <label for="porcion" class="block font-bold mb-2">Porción</label>
        <input type="number" id="porcion" [(ngModel)]="meal.porcion" class="block w-full border rounded p-2 mb-4" />
  
        <label for="categoria" class="block font-bold mb-2">Categoría</label>
        <select id="categoria" [(ngModel)]="meal.categoriacomida" class="block w-full border rounded p-2">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </form>
      <div class="mt-4 flex justify-end">
        <button class="bg-gray-300 px-4 py-2 rounded mr-2" (click)="onCancel()">Cancelar</button>
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="onSave()">Guardar</button>
      </div>
    </div>
  </div>
  