/* @keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(223, 75%, 84%, 1);
    --x-0: 65%;
    --y-0: 93%;
    --s-start-0: 8%;
    --s-end-0: 73%;
    --c-1: hsla(267, 81%, 90%, 1);
    --x-1: 52%;
    --y-1: 6%;
    --s-start-1: 8%;
    --s-end-1: 73%;
    --c-2: hsla(181, 53%, 92%, 1);
    --x-2: 32%;
    --y-2: 64%;
    --s-start-2: 8%;
    --s-end-2: 73%;
    --c-3: hsla(199, 61%, 87%, 1);
    --x-3: 61%;
    --y-3: 48%;
    --s-start-3: 8%;
    --s-end-3: 73%;
    --c-4: hsla(227, 62%, 70%, 1);
    --x-4: 3%;
    --y-4: 52%;
    --s-start-4: 8%;
    --s-end-4: 73%;
  }

  100% {
    --c-0: rgb(188, 209, 243);
    --x-0: 4%;
    --y-0: 91%;
    --s-start-0: 8%;
    --s-end-0: 73%;
    --c-1: hsla(219, 99%, 89%, 1);
    --x-1: 74%;
    --y-1: 69%;
    --s-start-1: 8%;
    --s-end-1: 73%;
    --c-2: hsla(200, 85%, 56%, 1);
    --x-2: 21%;
    --y-2: 0%;
    --s-start-2: 8%;
    --s-end-2: 73%;
    --c-3: hsla(277, 60%, 79%, 1);
    --x-3: 82%;
    --y-3: 35%;
    --s-start-3: 8%;
    --s-end-3: 73%;
    --c-4: hsla(273, 58%, 99%, 1);
    --x-4: 63%;
    --y-4: 25%;
    --s-start-4: 8%;
    --s-end-4: 73%;
  }
}

.basket-bg {
  --c-0: hsla(223, 75%, 84%, 1);
  --x-0: 65%;
  --y-0: 93%;
  --c-1: hsla(267, 81%, 90%, 1);
  --x-1: 52%;
  --y-1: 6%;
  --c-2: hsla(181, 53%, 92%, 1);
  --x-2: 32%;
  --y-2: 64%;
  --c-3: hsla(199, 61%, 87%, 1);
  --x-3: 61%;
  --y-3: 48%;
  --c-4: hsla(227, 62%, 70%, 1);
  --x-4: 3%;
  --y-4: 52%;
  background-color: hsla(226, 80%, 70%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) 8%, transparent 73%),
                    radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) 8%, transparent 73%),
                    radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) 8%, transparent 73%),
                    radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) 8%, transparent 73%),
                    radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) 8%, transparent 73%);
  animation: hero-gradient-animation 10s linear infinite alternate;
} */
