<!-- HEADER SECTION -->
<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/dashboard" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>

<!-- BASKET CONTENT -->
<div class="px-6 py-4">
  <div class="flex justify-between items-center pb-6 px-4">
    <h1 class="text-3xl font-bold text-center flex-grow">CANASTA DE ALIMENTOS</h1>
    <button (click)="navigateToAddFood()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Agregar alimento</button>
  </div>

  <div class="grid grid-cols-4 gap-4">
    <ng-container *ngFor="let food of foods">
      <div class="bg-white shadow rounded-lg p-4 border">
        <h3 class="text-2xl text-center font-bold pb-2">{{ food.nombre }}</h3>
        <!-- <img [src]="food.imagen || 'assets/default-food.jpg'" alt="{{ food.nombre }}" class="w-full h-40 object-cover rounded-lg"> -->
        <div class="mt-2 pl-5">
          <p class="text-xl"><strong>Marca:</strong> {{ food.marca || 'Generic' }}</p>
          <p class="text-xl">{{ food.calorias }} kcal Por: {{ food.porcion }}{{ food.tipomedida }}</p>
          <p class="text-xl"><strong>Proteína:</strong> {{ food.proteina }}gr</p>
          <p class="text-xl"><strong>Carbohidratos:</strong> {{ food.carbohidratos }}gr</p>
          <p class="text-xl"><strong>Grasas:</strong> {{ food.grasa }}gr</p>
          <p class="text-xl"><strong>Tipo de medida:</strong> {{ food.tipomedida }}</p>
          <div class="flex justify-center gap-16 pt-2 mt-2">
            <button *ngIf="food.idalimentos" (click)="navigateToEditFood(food.idalimentos)" class="bg-lime-500 p-2 rounded-lg">
              <img src="assets/editar.png" class="w-11" alt="Edit">
            </button>
            <button (click)="food.idalimentos ? deleteFood(food.idalimentos) : null" class="bg-red-600 p-2 rounded-lg">
              <img src="assets/eliminar.png" class="w-11" alt="Eliminar">
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
