<!-- HEADER SECTION -->
<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/canasta" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>

  <!-- Spinner sobrepuesto -->
  <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="loader">Loading...</div>
  </div>

<!-- ADD FOOD -->
<div class="min-h-screen bg-cover bg-center" style="background-image: url('/assets/AddMealBack.jpg');">
  <div class="border-8 flex flex-col items-center justify-center h-full pt-24 pb-24">
    <div class="border-8 bg-white p-6 rounded-lg shadow-lg w-5/12">
      <form (ngSubmit)="addOrUpdateFood()" class="space-y-6">
        <div>
          <label for="name" class="block text-2xl font-semibold text-gray-700">Nombre:</label>
          <input [(ngModel)]="food.nombre" name="nombre" type="text" id="name" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. Manzana" required>
        </div>
        <div>
          <label for="brand" class="block text-2xl font-semibold text-gray-700">Marca:</label>
          <input [(ngModel)]="food.marca" name="marca" type="text" id="brand" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="(Opcional)">
        </div>
        <div>
          <label for="calories" class="block text-2xl font-semibold text-gray-700">Calorías:</label>
          <input [(ngModel)]="food.calorias" name="calorias" type="number" id="calories" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. 100" required>
        </div>
        <div>
          <label for="protein" class="block text-2xl font-semibold text-gray-700">Proteína:</label>
          <input [(ngModel)]="food.proteina" name="proteina" type="number" id="protein" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. 5g" required>
        </div>
        <div>
          <label for="carbs" class="block text-2xl font-semibold text-gray-700">Carbohidratos:</label>
          <input [(ngModel)]="food.carbohidratos" name="carbohidratos" type="number" id="carbs" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. 20g" required>
        </div>
        <div>
          <label for="fat" class="block text-2xl font-semibold text-gray-700">Grasas:</label>
          <input [(ngModel)]="food.grasa" name="grasa" type="number" id="fat" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. 0g" required>
        </div>
        <div>
          <label for="quantity" class="block text-2xl font-semibold text-gray-700">Tamaño de porción:</label>
          <input [(ngModel)]="food.porcion" name="tamañoporcion" type="number" id="quantity" class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ej. 100g" required>
        </div>
        <div>
          <label for="portionType" class="block text-2xl font-semibold text-gray-700">Tipo de medida:</label>
          <div class="flex items-center space-x-4">
            <label class="flex items-center">
              <input [(ngModel)]="food.tipomedida" name="portionType" type="radio" value="gr" class="form-radio" />
              <span class="ml-2">gr</span>
            </label>
            <label class="flex items-center">
              <input [(ngModel)]="food.tipomedida" name="portionType" type="radio"   value="ml" class="form-radio" />
              <span class="ml-2">ml</span>
            </label>
          </div>
        </div>
        <div class="flex justify-end space-x-4 mt-4">
          <button  type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="cancelAction()" >Cancelar</button>
          <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">{{ editMode ? 'Actualizar' : 'Guardar'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
