<!-- MAIN DASHBOARD -->
<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>
  <img routerLink="/personal-info" src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer">
</div>

<div class="pb-20 pt-20 ">
  <div class="grid grid-cols-3 gap-4 p-6 ">

    <div class="flex flex-col justify-between text-center shadow rounded cursor-pointer border " routerLink="/canasta">
      <div class=" bg-cover h-3/4 bg-center" style="background-image: url('/assets/canasta.jpg'); " >
      </div>
      <div class="bg-cover h-1/4 " style="background-color: rgb(212, 212, 212);">
        <strong> <p class="text-3xl pt-6">Canasta de alimentos</p> </strong>
      </div>
      <!-- <img src="/assets/canasta.jpg" alt="Canasta de alimentos" class=" h-3/4 rounded"> -->
    </div>

    <div class="flex flex-col justify-between text-center shadow rounded cursor-pointer border" routerLink="/comidas">
      <!-- <img src="/assets/comida.jpg" alt="Comidas" class="h-3/4 rounded"> -->
      <div class=" bg-cover h-3/4 bg-center" style="background-image: url('/assets/comida.jpg'); " ></div>
      <div class="bg-cover h-1/4 " style="background-color: rgb(212, 212, 212);">
        <strong> <p class="text-3xl pt-6">Comidas</p> </strong>
      </div>
    </div>

    <div class="flex flex-col justify-between text-center shadow rounded cursor-pointer border " routerLink="/ejercicios">
      <!-- <div class=" bg-cover h-3/4 bg-center" style="background-image: url('/assets/ejercicios.jpg'); "> -->
              <img src="/assets/ejercicios.jpg" alt="Comidas" class="h-3/4 rounded">
      <!-- </div> -->
      <div class="bg-cover h-1/4 " style="background-color: rgb(212, 212, 212);">
        <strong> <p class="text-3xl pt-6">Ejercicios</p> </strong>
      </div>
    </div>
  </div>
</div>
