<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/routines" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>


<!-- RoutinesDetailComponent -->
<!-- <div class="container mx-auto p-4">
  <h2 class="text-center text-lime-600 text-2xl font-bold mb-4">{{title}}</h2>

  <div *ngIf="ejercicios.length > 0">
    <div *ngFor="let ejercicio of ejercicios" class="mb-4 p-4 border-b">
      <h3 class="text-xl font-semibold">{{ ejercicio.nombre }}</h3>
      <p>{{ ejercicio.descripcion }}</p>
      <img [src]="ejercicio.imagen" alt="{{ ejercicio.nombre }}" class="w-full h-64 object-cover">
    </div>
  </div>
  <div *ngIf="ejercicios.length === 0">
    <p>No se encontraron ejercicios para esta rutina.</p>
  </div>
</div> -->


<!-- RoutinesDetailComponent -->
<div class="container mx-auto p-6">
  <!-- Título -->
  <h2 class="text-center text-lime-600 text-3xl font-bold mb-8">{{ title }}</h2>

  <!-- Lista de ejercicios -->
  <div *ngIf="ejercicios.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let ejercicio of ejercicios" class="bg-white shadow-md rounded-lg overflow-hidden transition-transform transform hover:scale-105">
      <!-- Imagen -->
      <div class="aspect-w-4 aspect-h-3 bg-gray-200">
        <img [src]="ejercicio.imagen" alt="{{ ejercicio.nombre }}" class="w-full h-full object-cover">
      </div>

      <!-- Detalles del ejercicio -->
      <div class="p-4">
        <h3 class="text-xl font-semibold text-gray-800 mb-2">{{ ejercicio.nombre }}</h3>
        <p class="text-gray-600">{{ ejercicio.descripcion }}</p>
      </div>
    </div>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="ejercicios.length === 0" class="text-center mt-8">
    <p class="text-lg text-gray-500">No se encontraron ejercicios para esta rutina.</p>
  </div>
</div>

