<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/ejercicios" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>


<div class="container mx-auto p-4">
  <h2 class="text-center text-lime-600 text-2xl font-bold mb-4">{{ zone }}</h2>

  <div class="flex mb-4">
    <label for="zoneSelect" class="block text-lg font-medium text-gray-700">Nivel:</label>
    <select
      id="zoneSelect"
      class="mt-1 block w-full pl-3 pr-10 text-base border-gray-800 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
      (change)="onLevelChange($event)"
    >
      <option *ngFor="let nivel of niveles" [value]="nivel">{{ nivel }}</option>
    </select>
  </div>

  <div *ngIf="ejercicios.length > 0; else noData" class="grid grid-cols-1 gap-4">
    <app-ejercicio-card *ngFor="let ejercicio of ejercicios" [ejercicio]="ejercicio"></app-ejercicio-card>
  </div>

  <ng-template #noData>
    <p class="text-center text-gray-500">No hay ejercicios disponibles para esta selección.</p>
  </ng-template>
</div>
