<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/dashboard" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>

<div class="min-h-screen bg-cover bg-center" style="background-image: url('/assets/editBack.jpg');">

  <div class="p-10 max-w-6xl mx-auto mt-4">
    <h2 class="text-5xl text-white font-bold text-center mb-10">Datos Personales</h2>
    <div class="grid grid-cols-3 ">
      <div class="bg-green-800 text-white p-6 flex flex-col items-center ">
        <span class="text-4xl font-bold">Estatura</span>
        <span class="text-3xl font-semibold">{{usuario?.estatura}} cm </span>
      </div>
      <div class="bg-green-600 text-white p-6 flex flex-col items-center col-span-2 ">
        <span class="text-4xl font-bold">Índice de actividad</span>
        <span class="text-3xl font-semibold">{{textoActividad}}</span>
      </div>
      <div class="bg-green-600 text-white p-6 flex flex-col items-center ">
        <span class="text-4xl font-bold">Peso</span>
        <span class="text-3xl font-semibold">{{usuario?.peso}} kg</span>
      </div>
      <div class="bg-green-500 text-white p-6 flex flex-col items-center ">
        <span class="text-4xl font-bold">Sexo</span>
        <span class="text-3xl font-semibold">{{usuario?.sexo}}</span>
      </div>
      <div class="bg-green-900 text-white p-6 flex flex-col items-center ">
        <span class="text-4xl font-bold">Edad</span>
        <span class="text-3xl font-semibold">{{usuario?.edad}}</span>
      </div>
    </div>
    <div class="flex justify-end mt-10">
      <button routerLink="/edit-profile" class="bg-green-600 hover:bg-green-500 text-black font-bold py-3 px-14 text-3xl rounded-lg">
        Editar
      </button>
    </div>
  </div>

</div>
