<div class="p-6 bg-white shadow-md flex justify-between items-center">
  <div class="flex items-center space-x-4">
    <img routerLink="/personal-info" src="/assets/logoMF.jpg" alt="MacroFusion Logo" class="w-20 cursor-pointer">
    <span class="font-bold text-6xl pl-6">MacroFusion</span>
  </div>

  <div class="relative">
    <img src="/assets/perfil.png" alt="Perfil" class="h-14 w-14 rounded-full cursor-pointer transition-transform duration-200 ease-in-out transform hover:scale-105" (click)="toggleDropdown()">

    <div *ngIf="showDropdown" class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50">
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" routerLink="/personal-info">Perfil</a>
      <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100" (click)="logout()">Cerrar Sesión</a>
    </div>
  </div>
</div>

<div class="min-h-screen bg-cover bg-center" style="background-image: url('/assets/editBack.jpg');">

  <div class="flex flex-col items-center justify-center h-full pt-24 pb-24">
    <div class="bg-white p-6 rounded-lg shadow-lg w-8/12">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="grid grid-cols-1 gap-6">
          <div>
            <label for="height" class="block text-2xl font-semibold text-gray-700">Estatura:</label>
            <input
              type="text"
              id="height"
              formControlName="estatura"
              class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500"
              placeholder="Ej. 170 cm">
          </div>
          <div>
            <label for="weight" class="block text-2xl font-semibold text-gray-700">Peso:</label>
            <input
              type="text"
              id="weight"
              formControlName="peso"
              class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500"
              placeholder="Ej. 70 kg">
          </div>
          <div>
            <label for="age" class="block text-2xl font-semibold text-gray-700">Edad:</label>
            <input
              type="number"
              id="age"
              formControlName="edad"
              class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500"
              placeholder="Ej. 30">
          </div>
          <div>
            <label for="sex" class="block text-2xl font-semibold text-gray-700">Sexo:</label>
            <select
              id="sex"
              formControlName="sexo"
              class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500">
              <option value="Hombre">Hombre</option>
              <option value="Mujer">Mujer</option>
            </select>
          </div>
          <div>
            <label for="activity" class="block text-2xl font-semibold text-gray-700">Índice de actividad:</label>
            <select
              id="activity"
              formControlName="indiceactividad"
              class="w-full h-12 px-4 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500">
            <option [value]="1.2">Sedentario (0 actividad física)</option>
            <option [value]="1.375">Relajado (1-3 veces por semana)</option>
            <option [value]="1.55">Activo (3-5 veces por semana)</option>
            <option [value]="1.725">Extremadamente activo (6-7 veces por semana)</option>
            </select>
          </div>
        </div>
        <div class="flex justify-end space-x-4 mt-6">
          <button routerLink="/personal-info" type="button" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-14 rounded text-2xl">Cancelar</button>
          <button type="submit" class="bg-green-500 hover:bg-green-600 text-black font-bold py-2 px-14 rounded text-2xl">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
